<div class="banner">
    <div class="content">
        <h1>Hi! I'm Filmon Mehari</h1>
        <p>...a 21-year-old who is currently<br>
            in the second year of the<br>
            software engineering program<br>  
            at Jönköping University 
        </p>
         <p>Those are my programming language skills so far. <br>
            <img class="left-side" src="pictures/c++.svg" alt="Front Green" width="100" height="64">
            <img class="left-side" src="pictures/java.svg" alt="Front Green" width="100" height="64">
            <img class="left-side" src="pictures/css.svg" alt="Front Green" width="100" height="64">
            <img class="left-side" src="pictures/Java Script.svg" alt="Front Green" width="100" height="64">
            <img class="left-side" src="pictures/html.svg" alt="Front Green" width="100" height="64">
        </p>
    </div>
</div>
