<h1>Delete Contact</h1>

<form action="/contacts/delete" method="POST">
    <div>
        Name: <input type="text" name="name" value=" {{name}} ">
    </div>
    <div>
        Email: <input type="text" name="email" value="{{email}}">
    </div> 
    <div>
        Phone Number: <input type="number" name="PhoneNo" value="{{phoneNo}}">
    </div>
    <div>
        Adress: <input type="text" name="adress" value="{{adress}}">
    </div>
    <input type="submit" value="Delete Contact">
</form>


