
/*Responsive*/

@media screen and (max-width: 450px){
	.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px;
		border-radius: 15%;
		font-size: 3vw;
		border: none;
		cursor: pointer;
		position: sticky;
	} 
	.dropdown {
		position: relative;
		float: inline-end;
		text-align: center;
		display: inline-flex;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		min-width: 95px;
		z-index: 1;
	}
	.dropdown-content a {
		background-color: #9eeed1;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		}
  
	.dropdown-content a:hover {background-color: #b87b7b;}
  
	.dropdown:hover .dropdown-content {
		display: block;
	}
  
	.dropdown:hover .dropbtn {
		background-color: #3e8e41;
	}
	.grid-container{
		display: grid;
		grid-template-areas:
		'header header header header header header'
		'main main main main main main'
		'footer footer footer footer footer footer';
	}
	.item2 a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		
	}
  }
@media screen and (max-width: 400px) {
	.item2{
		position: relative;
		display: inline-block;
	}
	.item2 > ul {
		display: none;
		position: absolute;
		right: 0;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.grid-container{
		display: grid;
		grid-template-areas:
		'header header header header header header'
		'main main main main main main'
		'footer footer footer footer footer footer';
	}
  }
  