
.item1 { 
  width: 100vw;
  grid-area: header;
  background-color: #e9f4b0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5%;
}
.item1 > img {
  display: inline;
  text-align: left;
}
.item1 > h1{
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  margin: 0%;
  padding-bottom: 0%;
  font-size: 5vw;
}
.item1 > p {
  display: block;
  font-style: italic;
  margin: 0%;
  padding: 0%;
  font-size: 3.2vw;
}
.dropdown {
  display: none;
}
.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'menu menu menu menu menu menu'
  'main main main main main main'
  'footer footer footer footer footer footer';
}

.form {
  float: right;
  display: flex;

  margin: 0 50px 15px 0;
}
.item2 { 
  grid-area: menu;
  background-color: rgb(217, 192, 192);
  font-size: 1.6vw;
  display: inline-block;
  margin: 0%;
  padding: 0%;
}
.item3 {
  grid-area: main;
  background-color: #eeefe7;
  font-size: 1.5vw;
  width: 100%;
}
.item3 > p {
  display: inline;
}

.dropdown { 
  grid-area: dropdown; 
}
.item4 { 
    grid-area: right; 
}
.item5 { 
  grid-area: footer;
  background-color: #c9e8cd;
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 3.2vw;
}
.item5 > p  {
  margin-left: 10%;
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom: 0%;
  color: black;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.3vw;
}
.item5 > div { 
  background-color: #09152b;
  margin-left: 10%;
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom: 0%;
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9vw;
}
.item5 > a  { 
  margin-top: 5%;
  margin-left: 3vw;
  margin-right: 10vw;  
  display: inline;  
  color: black;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.4vw;
}
.grid-container > div {
margin: 0%;
padding: 0%;
}
.right-side {
  position: relative;
  float: right;
  display: inline;
}
.left-side {
  position: relative;
  float: left;
  display: inline;
}
ul a {
  font-weight: lighter;
  text-decoration: none;
  padding-left: 2.5%;
  margin: 0%;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=date], select, textarea {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=date]:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #04AA6D;
  box-shadow: 0 0 5px rgba(4, 170, 109, 0.3);
}

input:disabled, textarea:disabled, select:disabled {
  background-color: #e8e8e8;
  color: #666;
  cursor: not-allowed;
  border-color: #bbb;
}

input[type=submit], button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

input[type=submit]:hover, button[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:active, button[type=submit]:active {
  transform: scale(0.98);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  max-width: 600px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #45a049;
}
.project-title{
  font-weight: bold;
  background-color: #859fce;
}
.error-message{
  font-style: italic;
  font-size: large;
  color: red;
}